/*-------------------------------------
 *FileName：style.css
 *Author：hechuan
 *Description： global css
 *Date:2016-08-08
 *Version： V2.0
-------------------------------------*/
/*浏览器滚动条设置*/
/*---------IE滚动条---------*/
@-ms-viewport {width: device-width;}
::-webkit-scrollbar{width:1px;height:1px;}
::-webkit-scrollbar-track-piece{background-color:#ffffff;-webkit-border-radius:2px;}
::-webkit-scrollbar-thumb:vertical{height:1px;background-color:#666;-webkit-border-radius:2px;}
::-webkit-scrollbar-thumb:horizontal{width:1px;background-color:#666;-webkit-border-radius:2px;}
/*页面统一样式*/
*{margin: 0;padding: 0;}
html,body{width: 100%;height: 100%;color: #fff3cf;font-size:14px;background-image:url("../images/sys_bg.png");}
.bk{width:100%;height:100%;position: absolute;z-index:1;}
.bk_img{background-image:url("../images/sys_bg.png");}
.body_frame{width:100%;height:100%;position: absolute;z-index:50;top:0px;background: transparent;}
.page_top{width:100%;position: absolute;z-index:60;}
.page_top .top{width: 40%;height:100%;margin:0px auto;background: url('../images/title_top.png') no-repeat;background-size:100% 100%;}
.page_top .br{width:100%;height:100%;background: url('../images/title_br.png') no-repeat;background-size:100% 100%;}
.page_top .br h1{width:100%;color:#ffffff;text-align:center;height: 48px;line-height: 48px;vertical-align:middle;font-size: 24px;}
.page_top .bottom{width:84%;margin-left:8%;margin-top:-2px;background: url('../images/title_bottom.png') no-repeat;background-size:100% 100%;height: 1px;}

.title_new h1,.title_new{position: absolute; width: 40%; left: 30%;top:0px;font-size: 18px;font-weight:500;}
.title_new h1 small{font-size: 14px;}
.title_new h1{width:100%; text-align:center;position: absolute;line-height: 50px; font-size: 24px;left: 0;}
.title_new img{position: absolute;}

.fixed_p{width:1366px;height:auto;margin:auto;pointer-events: none;filter: alpha(opacity=0);}
.fixed_c{width:1366px;height:auto;margin:auto;}
.fixed_b{width:1366px;height:768px;margin:auto;}
/*-----------------------顶部菜单设置样式-----------------------*/
.top_menu{width:100%;height:auto;position: absolute;z-index:100;top:0px;color:white;}
.top_menu_body{width:100%;height:32px;padding:16px 0px;text-align: center;background:rgba(0,0,0,0.8);}
.top_menu_tip{width:100%;height:16px;background-color:transparent;}
.top_menu_info{width:auto;height:32px;float:right;overflow:hidden;}
.login_info{width:auto;height:32px;float:left;overflow:hidden;}
.login_system_info{height:16px;padding:16px 0px 0px 0px;display:block;font-size:14px;float:right;text-align: left;overflow: hidden;}
.staff_info{font-weight: 500;font-size: 16px;color:#f73f3f;}
.info_label{vertical-align: middle;display:block;float:left;line-height:16px;height:16px;}
.colse_label{vertical-align: middle;line-height:16px;height:16px;font-weight: 500;margin:0px 8px;color:#f73f3f;font-size: 16px;display:block;width:48px;float:right;}
.colse_span{font-weight: normal;color:white;font-size: 14px;margin-left:-4px;}
.colse_label:hover{color:#FF0000;}
.colse_label:hover .colse_span{color:#FF0000;font-weight: 500;}
.top_menu_ul{list-style:none;width:auto;height: 32px;margin-left:16px;float:left;}
.top_menu_ul li {width:auto;line-height:32px;height:32px;margin:0px 8px;font-size:16px;float:left;vertical-align: middle;}
.top_menu_ul li a{text-decoration:none;width:72px;display:block;padding:0px 6px;text-align:center;color:white;border-radius:4px;}
.top_menu_ul li a:hover{background:#f73f3f !important;font-weight:500 !important;}
/*-----------------------侧面菜单设置样式-----------------------*/
.page_menu{position: absolute;z-index:100;pointer-events: none;width:100%;top:45%;display:none;}
.div_table{display:table;border-collapse:separate;float:right;pointer-events:auto;}
.div_table_row{display:table-row;}
.bd{}
.div_table_td{display:table-cell;vertical-align: middle;height:auto;}
.menu_tool{background:rgba(0,0,0,0.2);border-radius:32px 0px 0px 32px;border:0px;width:32px;height:64px;text-align:right;display:table-cell;vertical-align: middle;}
.menu_tool a{color:#fff;text-decoration:none;font-size: 32px;margin-right:4px;font-weight:200;}
.menu_tool:hover{background:rgba(0,0,0,0.5) !important;}
.menu_tool:hover a{color:white !important;}
.menu_body{border-radius:10px;width:auto;min-height:160px;height:160px;display:table-cell;vertical-align: middle;background:rgba(0,0,0,0.5);}
.menu_ul{list-style:none;width:auto;margin:16px 3px 16px 3px;font-size: 15px;}
.menu_ul li{border-bottom:1px solid #0f6f9f;width:auto;line-height:32px;height:32px;margin:0px 8px;vertical-align: middle;}
.menu_ul li a{text-decoration:none;width:160px;display:block;padding:0px 8px;text-align:center;color:#fcedd0;border-radius:4px;}
.menu_ul li a:hover{font-weight: 500 !important;color:#f73f3f !important;}